body {
	background-color: #fff;
}

h1,h2,h3,h4 {
	margin-top: .8em;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 218%;
	margin-top: .6em;
	margin-bottom: .6em;
	color: #092e20;
	line-height: 1.1em;
}

div.body h2 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: .2em;
	line-height: 1.2em;
	color: #333;
}

#homepage h2 {
	font-size: 140%;
}

h3 {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: .2em;
	color: #555;
}

h4 {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: -2px;
	margin-top: 1.2em;
	color: #777;
}

h4 pre,h4 tt,h4 .literal {
	text-transform: none;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 3px;
}

div.important {
	border: 1px dotted #111;
}

div.related {
    background-color: #777777;
    line-height: 32px;
    color: #fff;
    text-shadow: 0px 1px 0 #444;
    font-size: 0.9em;
}


div.related ul {
	margin-left: 100px;
}

div.related a {
	color: #333;
}

div.section {
	
}

div.section img {
	margin: auto;
	border: 1px dotted #aaa;
}

.figure {
	border: 1px dotted #ccc;
	text-align: center;
	margin: 20px;
}

.figure p {
	margin: 0;
	text-align: center;
}

.figure img {
	margin: 1px;
	border: 1px solid transparent;
}

.figure .caption {
	font-size: 80%;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	background: #ddd;
}

div.sphinxsidebarwrapper {
	padding: 10px 0;
}

div.sphinxsidebar ul {
	margin: 10px 10px;
}

ol dl li {
	list-style-type: decimal;
	list-style-position: outside;
	font-size: 60pt;
	position: relative;
	top: 70px;
	left: 65px;
	line-height: normal;
	color: #DDD;
	_color: #FFF;; /* show to IE */
}

ol dl li dt {
	_margin-top: -70px;
}

ol dl li dd {
	width: 400px;
}

ol dl li dt,ol dl li dd {
	_list-style-type: decimal;
	_list-style-position: outside;
	color: #111;
	font-size: 0px;
	line-height: normal;
	font-size: small;
	position: relative;
	top: -70px;
	left: -70px;
}

dt {
	margin-top: 10px;
	margin-bottom: 5px;
}

dd {
	background-color: #eeeee7;
	padding: 7px;
}

/* DOCS */
#doc-versions {
	position: fixed;
	display: block;
	padding: 0;
	margin: 0;
	bottom: 5px;
	right: 5px;
	font-size: small;
}

#doc-versions:hover {
	background: transparent url("../img/z.gif") repeat; /* IE7 hack */
	border-radius: 3px;
}

#doc-versions li.other {
	display: none;
}

#doc-versions li.other a {
	display: block;
	padding: 5px;
}

#doc-versions:hover li.other {
	display: block;
}

#doc-versions li {
	display: block;
	float: left;
	padding: 0;
	margin: 0 0 0 7px;
	background-color: #eeeee7;
	border: 2px #333 solid;
	border-radius: 3px;
	color: #111;
}

#doc-versions li.current {
	background: #eeeee7;
	padding-left: 3px;
}

#doc-versions li.current span {
	display: block;
	padding: 5px;
}